{% block body %}
    <div>
        <div class="row">
            {# show flashMessage 'success' #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="col-sm-12">
                {# {{ dump(commentForm) }} #}
                <h5>{{ commentForm }}</h5>
                <br>
                 {# {{ form }}  #}
            </div>
            <div class="col-sm-12">
                {{ form(form) }}
            </div>
        </div>
        
    </div>
{% endblock %}
