{# templates/article/individual.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {# {{ dump(article) }} #}
    
    <h1>{{article.name}}</h1>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{asset(article.image)}}" width=100%; height=auto;>
        </div>
        <div class="col-sm-6">
            <p>{{article.description}}</p>
        </div>
    </div>
    <div class="row indArticelDetails">
        <div class="col-sm-8 indBottom">Writen by : {{article.author}}</div>
        <div class="col-sm-4 indBottom">Created on : {{article.created | date("d/m/Y")}}</div>
    </div>

    {# add comment section #}
    <div class="container comment_section">
        {% if is_granted('ROLE_USER')%}
            <div class="row">
                <div class="col-sm-12">
                    {# show flashMessage 'success' #}
                    {% for messages in app.flashes(['success','deleted']) %}
                        {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    <h4>You can add a comment:</h4>                
                </div> 
                <div>
                    <p>Join the discussion, add your opinion</p>
                    {{ render(controller('App\\Controller\\CommentController::commentForm')) }}
                </div>  
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-6">
                    <p class="fw-5">Please Login to add a comment:</p>                
                </div>
                <div class="col-sm-6">
                     <a href="{{path('app_login')}}">Go to login Page</a>                  
                </div>    
            </div>
        {% endif %}
    </div>
    <div class="comments_container">
        {% if is_granted('ROLE_USER') %}
                <div class="row">
                    {% for comment in comments %}
                    <div class="user_comment">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="fw-bold">Author : {{ comment.username}}</p>
                                </div>
                                <div class="col-sm-6">
                                    {# <p>Date {{ comment.added | date('d-m-Y')}}</p> #}
                                    <p>Date {{ comment.added | format_datetime()}}</p>
                                    
                                </div>
                                <div class="col-sm-12">
                                    <p>Comment text: {{ comment.comment }}</p>
                                </div>
                            </div>
                             {# @@@@@@@@@@@@@@ buttons edit/delete @@@@@@@@@@@@@@@@@@  #}
                            {# if logged User is the same as CommentUser 
                            then show button to Edit and Delete his/hercomment #}
                            {% if (userName)  == (comment.username) %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="{{path('comment_edit' , {id: comment.id})}}">
                                            <button type="button" class="btn btn-light">
                                                Edit Comment
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        {# pass comment Id on button and delete selected comment #}
                                        <a href="{{path('delete_comment', {id: comment.id})}}">
                                            <button type="button" class="btn btn-outline-danger">Delete Comment</button>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <p> ________________________________________________________________________</p>
                            {% endif %} 
                        {# @@@@@@@@@@@@@@@@@@ end of button edit/delete @@@@@@@@@@@@@@@@@@@ #}
                     </div>
                    {% endfor %}
                </div>
        {% else %}
             <div class="row">
                <div class="col-sm-12">
                    <p class="fw-5 text-center">If you would like to see comments, you need to be loginned</p>              
                </div>
                {# <div class="col-sm-6">
                     <a href="{{path('app_login')}}">Go to login Page</a>                  
                </div>     #}
            </div>
        {% endif%}
    </div>

    {# go back to blogs list #}
    <div class="goBack bg-dark">
        <a href="{{path('show_articles')}}"><h5>Go back to articles list >>></h5></a>
    </div>

{% endblock %}