{% extends 'base.html.twig' %}

{% block title %}List of Articles{% endblock %}

{% block body %}
<div class="col-12 subpage_title">
    <h2>List of articles</h2>
</div>

    {% for article in articles %}

        <div class="col-sm-12 bg-dark help" style="padding-left:2%;padding-right:2%;color:white;">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 article_list_item mt-2">
                    <a href="{{path("showIndividual", {id: article.id , slug: article.name})}}"><h2 id="articleTitle">{{article.name}}</h2></a>
                    <img src="{{asset(article.image)}}" width="100%" height="400">
                    {# <p>{{ article.description}}</p> #}
                    <p><b>Author: {{article.author}}</b></p>
                    <p>Created: {{ article.created | date("d/m/Y")}}</p>
                    {# <a href="{{path("showIndividual", {id:article.id, slug: article.name })}}">
                        <button type="button" class="btn btn-success">More...</button>
                    </a> #}
                    <a href="{{path("showIndividual", {id:article.id, slug: article.name })}}">
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-warning" type="button">More...</button>
                        </div>
                    </a>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

    {% endfor %}



{% endblock %}
